%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Report file
      %th Template
      %th Virtualization
      %th Date
      %th Status
    %tbody
      -@reports.each do |r|
        %tr{"data-target" => "##{r.id}", "data-toggle" => "modal"}
          -if !r.report_file? or Dir[@directory + '/*'].empty? or !File.exist?("#{@directory}/#{r.report_file}")
            %th
              = "Suite hasn't been started yet"
          -else
            %th 
              = r.report_file
          %th 
            = r.template_name
          %th 
            = r.virt
          %th
            = r.created_at
          %th
            - if r.status == "Stopped"
              %span.label.label-default= r.status
            - elsif r.status == "Running"
              %span.label.label-warning= r.status
            - elsif r.status == "Failed"
              %span.label.label-danger= r.status
            - elsif r.status == "Old"
              %span.label.label-default= r.status
            - else
              %span.label.label-success= r.status
        -if !Dir[@directory + '/*'].empty?
          -if File.exist?("#{@directory}/#{r.report_file}") and r.report_file?
            - file = File.open("#{@directory}/#{r.report_file}", "r")
            .modal.fade{:id=>r.id, "aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                %iframe.modal-content{:srcdoc => file.read, :frameborder => 0}
