.container
  = form_tag '/runs/run_all' do
    .row
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th.center= check_box_tag "checkAll", "none", false, class: "checkbox"
            %th Runs
            %th Files
            %th Templates
            %th Virtualization
            %th Threads
            %th Action
          %tbody
            -@runs.each do |r|
              %tr
                %td.center
                  = check_box_tag "runs[]", r.id, false, class: "checkbox", id: r.id
                %th
                  = r.title
                %th
                  %p
                    =simple_format YAML.load(r.files).join("\n")
                %th
                  %p
                    - templates = ::Template.where(manager_id: YAML.load(r.templates))
                    - templates.each do |t|
                      = t.label
                      - if t.status == "Undefined"
                        %span.label.label-default= t.status
                      - elsif t.status == "Downloaded"
                        %span.label.label-success= t.status
                      %br
                %th
                  %p
                    =simple_format YAML.load(r.virt).join("\n")
                %th
                  = r.threads
                %th
                  = link_to image_tag('Delete.png', :class => "delete", :title => "Delete run"), r, method: :delete
                  = link_to image_tag('Report.png', :class => "report", :title => "Run report"), runs_report_path(id: r.id)
                  = link_to image_tag('Download.png', :class => "download", :title => "Download templates for run"), runs_download_templates_path(manager_ids: templates.map(&:manager_id)), method: :post
    = link_to 'Kill all running', runs_kill_path, :class => "btn btn-danger space"
    = submit_tag 'Run', :class => "btn btn-success space"

:javascript
  $("li:contains('Runs')").addClass('active')
  $('#checkAll').click(function(event) {
      if(this.checked) {
          $('.checkbox').each(function() {
              this.checked = true;
          });
      }else{
          $('.checkbox').each(function() { 
              this.checked = false;                      
          });         
      }
  });