.container.container
  = form_tag '/runs/run_all' do
    .row
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th.center= check_box_tag "checkAll", "none", false, class: "checkbox"
            %th Runs
            %th Files
            %th Templates
            %th Virtualization
            %th Server
            %th Threads
            %th Action
            %th Details
          %tbody
            -@runs.each do |r|
              %tr
                %td.center
                  = check_box_tag "runs[]", r.id, false, class: "checkbox", id: r.id
                %th
                  = r.title
                %th
                  %p
                    =simple_format YAML.load(r.files).join("\n")
                %th
                  %p
                    =simple_format YAML.load(r.templates).join("\n")
                %th
                  %p
                    =simple_format YAML.load(r.virt).join("\n")
                %th
                  = r.server
                %th
                  = r.threads
                %th
                  = link_to 'Delete', r, method: :delete, :class => "btn btn-danger space"
                %th
                  = link_to "Report", runs_report_path(id: r.id), :class => "btn btn-success space"
    = link_to 'Kill all running', runs_kill_path, :class => "btn btn-danger space"
    = submit_tag 'Run', :class => "btn btn-success space"

:javascript
  $("li:contains('Runs')").addClass('active')
  $('#checkAll').click(function(event) {
      if(this.checked) {
          $('.checkbox').each(function() {
              this.checked = true;
          });
      }else{
          $('.checkbox').each(function() { 
              this.checked = false;                      
          });         
      }
  });